@import "src/scss/theme";

.home-page-subtitle {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 500;
  color: #1e0a3c;
}

.homepage-pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.products-wrapper,
.skeleton-wrapper {
  .product {
    padding: 25px;
    .product-top-section {
      width: 100%;
    }
    .product-title {
      color: color(gray);
      font-weight: 500;
      margin-top: 20px;
    }
    .product-image-wrapper {
      .product-image {
        margin: auto;
        max-width: 100%;
        display: block;
      }
    }
    .product-bottom-section {
      width: 100%;
    }
    .product-price {
      color: color(orangeDark);
      font-weight: 500;
      font-size: 18px;
      margin: 0 0 8px;
    }
  }
}
