@import "src/scss/theme";

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  justify-content: space-between;
}

.side-bar {
  min-width: 320px;
  .filtr-panel-container {
    position: fixed;
    width: 320px;
    height: calc(100vh - 56.25px);
    //   height: calc(((100vh - 56.56px) - 344px));
    bottom: 344px;
    top: 56.25px;
    background-color: color(backgroundGray);
    .filter-panel-title {
      padding-top: 46px;
      padding-left: 15px;
      font-size: 32px;
      font-weight: 500;
      color: #1e0a3c;
      padding-bottom: 40px;
      border-bottom: 2px solid #eeedf2;
    }
    .mat-list {
      padding: 0 15px;
      .mat-list-item {
        color: color(gray);
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 15px;
      }
      .active-filter {
        border-left: 4px solid;
        border-left-width: 4px;
        border-left-style: solid;
        border-left-color: rgb(54, 89, 227);
        .filter-name-wrapper {
          .main-name {
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 4px;
            display: block;
          }
          .price-separator {
            display: inline-block;
            margin: 0 5px;
          }
          .active-shops-names {
            .shop-name {
              position: relative;
              &:not(:last-child)::after {
                content: ", ";
              }
            }
          }
        }
      }
    }
  }
}
