@import "src/scss/theme";

.filter-panel-title {
  padding-left: 15px;
  font-size: 32px;
  font-weight: 500;
  color: #1e0a3c;
  padding-bottom: 40px;
  border-bottom: 2px solid #eeedf2;
}
.filter-close {
  margin-top: 10px;
  button {
    font-size: 12px;
    padding-left: 0;
    margin-left: 15px;
    .mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
    }
  }
}
