<div id="reset-password" fxLayout="column">
  <div
    id="reset-password-form-wrapper"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div id="reset-password-form">
      <div class="logo">
        <img src="assets/images/logos/booking-black.svg" />
      </div>
      <div
        *ngIf="!(passwordHasBeenChanged$ | async)"
        class="reset-password-form-wrapper"
      >
        <div class="title">ZMIANA HASŁA</div>
        <div class="subtitle"><p>Podaj swoje nowe hasło</p></div>

        <form
          name="resetPasswordForm"
          [formGroup]="resetPasswordForm"
          novalidate
          (ngSubmit)="onSubmit()"
        >
          <mat-form-field appearance="outline">
            <mat-label>Hasło</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error
              *ngIf="resetPasswordForm.get('password').hasError('required')"
            >
              Hasło jest wymagane
            </mat-error>
            <mat-error
              *ngIf="resetPasswordForm.get('password').hasError('minlength')"
            >
              Hasło musi zawierać co najmniej 6 znaków
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Hasło (Potwierdź)</mat-label>
            <input matInput type="password" formControlName="passwordConfirm" />
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error
              *ngIf="
                resetPasswordForm.get('passwordConfirm').hasError('required')
              "
            >
              Potwierdzenie hasła jest wymagane
            </mat-error>
            <mat-error
              *ngIf="
                !resetPasswordForm
                  .get('passwordConfirm')
                  .hasError('required') &&
                resetPasswordForm
                  .get('passwordConfirm')
                  .hasError('passwordsNotMatching')
              "
            >
              Hasła muszą do siebie pasować
            </mat-error>
          </mat-form-field>
          <div
            *ngIf="errorMessage$ | async as errorMessage"
            class="error-wrapper"
          >
            <p class="error">{{ errorMessage }}</p>
          </div>
          <div class="spinner" *ngIf="isLoading$ | async">
            <mat-spinner color="accent"></mat-spinner>
          </div>
          <button
            *ngIf="!(isLoading$ | async)"
            mat-raised-button
            class="submit-button"
            color="accent"
            aria-label="RESET MY PASSWORD"
            [disabled]="resetPasswordForm.invalid"
          >
            ZMIEŃ MOJE HASŁO
          </button>
        </form>
      </div>
      <div
        *ngIf="passwordHasBeenChanged$ | async"
        class="reset-password-form-wrapper"
      >
        <div class="title">Twoje hasło zostało zmienione</div>

        <div class="subtitle">
          <p>Możesz teraz zalogować się podając swoje nowe hasło.</p>
        </div>
      </div>
      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a mat-button color="primary" class="link" [routerLink]="'/login'"
          >Powrót do strony logowania</a
        >
      </div>
    </div>
  </div>
</div>
