<mat-toolbar
  color="primary"
  [ngClass]="{
    'nav-bar-subpage': !isHomepage
  }"
>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="navbar-wrapper"
  >
    <div
      class="navbar-element"
      fxLayout="row"
      fxLayoutAlign="flex-start center"
    >
      <div class="logo-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <a
          [routerLink]="'/'"
          (click)="goToFrontPage()"
          mat-button
          class="main-nav-item-link"
          ><img
            class="navbar-logo"
            src="../../../../assets/images/logos/logo-gray.svg"
        /></a>
      </div>
      <div *ngIf="isHomepage" class="search-wrapper">
        <app-search-bar></app-search-bar>
      </div>
    </div>
    <div class="navbar-element">
      <ul class="main-nav" fxLayout="row" fxLayoutAlign="flex-end center">
        <li class="main-nav-item">
          <a class="main-nav-item-link" [routerLink]="'/new-event'" mat-button
            >Sklepy</a
          >
        </li>
        <li *ngIf="!(authUser$ | async)" class="main-nav-item">
          <a class="main-nav-item-link" [routerLink]="'/login'" mat-button
            >Zaloguj się</a
          >
        </li>
        <li *ngIf="authUser$ | async" class="main-nav-item">
          <a class="main-nav-item-link" (click)="logout()" mat-button
            >Wyloguj się</a
          >
        </li>
      </ul>
    </div>
  </div>
</mat-toolbar>
