@import "src/scss/theme";

.search-page-wrapper {
  display: flex;
  .search-content {
    width: calc(100% - 320px);
    padding-left: 15px;
    padding-top: 40px;
    margin-top: 56.25px;
    .search-page-subtitle {
      margin-top: 30px;
      margin-left: 5px;
      font-size: 32px;
      font-weight: 500;
      color: #1e0a3c;
    }
    .no-results-wrapper {
      margin-top: 30px;
      .no-result-title {
        margin-left: 5px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.25px;
        max-width: 600px;
        font-weight: 500;
        color: #1e0a3c;
      }
    }
    .search-page-pagination-wrapper {
      display: flex;
      justify-content: flex-end;
      padding-right: 25px;
    }
    .products-wrapper {
      .product {
        padding: 25px;
        .product-top-section {
          width: 100%;
        }
        .product-title {
          color: color(gray);
          font-weight: 500;
          margin-top: 20px;
        }
        .product-image-wrapper {
          .product-image {
            margin: auto;
            max-width: 100%;
            display: block;
            max-height: 300px;
          }
        }
        .product-bottom-section {
          width: 100%;
        }
        .product-price {
          color: color(orangeDark);
          font-weight: 500;
          font-size: 18px;
          margin: 0 0 8px;
        }
      }
    }
  }
}
