<app-navbar></app-navbar>
<div class="search-page-wrapper">
  <app-search-sidebar></app-search-sidebar>
  <div class="search-content">
    <div class="search-wrapper">
      <app-search-bar></app-search-bar>

      <div class="container">
        <h2
          *ngIf="!(isLoading$ | async) && (products$ | async).length"
          class="search-page-subtitle"
        >
          Znalezione produkty
        </h2>

        <div
          class="products-wrapper"
          *ngIf="
            !(isLoading$ | async) &&
            (products$ | async).length &&
            (products$ | async) as products
          "
          fxLayout="row wrap"
        >
          <div
            class="product"
            *ngFor="let product of products"
            fxFlex="25"
            fxLayout="column"
            dir="ltr"
            fxLayoutAlign="space-between flex-start"
          >
            <div class="product-top-section" fxFlex="100">
              <div class="product-image-wrapper">
                <img class="product-image" src="{{ product.imageLink }}" />
              </div>
              <h3 class="product-title">{{ product.title }}</h3>
            </div>
            <div
              class="product-bottom-section"
              fxLayout="row wrap"
              fxLayoutAlign="space-between flex-end"
              fxFlex="100"
            >
              <p class="product-price">{{ product.price | twoDigits }} ZŁ</p>
              <a
                mat-raised-button
                href="{{ product.productLink }}"
                target="_blank"
                color="accent"
                class="product-link"
                >Zobacz</a
              >
            </div>
          </div>
        </div>

        <div
          class="no-results-wrapper"
          *ngIf="!(products$ | async)?.length && !(isLoading$ | async)"
        >
          <h3 class="no-result-title">
            Ups! wygląda na to, że nie mamy tego czego szukasz. Spróbuj wyszukać
            coś innego.
          </h3>
        </div>

        <app-skeleton
          *ngIf="isLoading$ | async"
          [pageSize]="pageSize$"
        ></app-skeleton>
        <div
          class="search-page-pagination-wrapper"
          *ngIf="(nextPage$ | async) || (prevPage$ | async)"
        >
          <app-custom-pagination
            [currentPage]="currentPage$"
            [nextPage]="nextPage$"
            [prevPage]="prevPage$"
            [pageSize]="pageSize$"
            [changePageAction]="changePageAction"
            [changePageSizeAction]="changePageSizeAction"
          ></app-custom-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
